# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store

# environment files
.env

# Ignora o diretório self-signed certificate, que contém arquivos de chave privada e certificado SSL/TLS autoassinado para HTTPS 
/self-signed_certificate